* {
    padding: 0;
    margin: 0;
}

#header {
    background-color: #000000;
    height: 45px;
    width: 100%;
}

li {
    cursor: pointer;
    text-align: center;
    list-style: none;
    width: 80px;
    height: 100%;
    line-height: 45px;
}
.sub-nav-1 > li  {
    text-align: left;
}
.sub-nav-2 > li  {
    text-align: left;
}


.nav {
    display: flex;
    position: relative;
}

#header ul li:hover ul {
    /* hiện menu con */
    visibility: visible;
}

.sub-nav-1,
.sub-nav-2 {
    position: absolute;
    /*ẩn menu con*/
    visibility: hidden;
    /*background-color: red;*/
    width: 250px;
}

.sub-nav-2 li,
.sub-nav-1 li{
    padding: 0 15px;
}

.sub-nav-1 li {
    width: 175px;
    background-color: black;
}

.sub-nav-2 li {
    width: 130px;
    background-color: black;
}

ul > li:hover{
    background-color: red;
}
.sub-nav-1 li a {
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
}